.clock {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 50px;
    color: #fff;
    border: 2px solid red;
}

.clock > .time {
    width: 25%;
}

.clock > .time > .label {
    font-size: 18px;
    text-transform: uppercase;
}



@media (max-width: 700px) {
    .clock > .time {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .clock {
        font-size: 60px;
    }
    .clock > .time {
        width: 100%;
    }
}