.form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form > input,
.form > textarea {
    color: #333;
    font-size: 20px;
    width: 100%;
    line-height: 2em;
    border: none;
    border-bottom: 2px solid #777;
    font-family: inherit;
}

.form > textarea {
    grid-column: span 2;
}

.form > button {
    grid-column: span 2;
    justify-self: end;
    background-color: var(--secondary-color);
    color: #ffff;
    border: none;
    font-size: 18px;
    padding: 0.8em 1.2em;
    border-radius: 0.2em;
}