/* base */
@import '../base/base.css';
@import '../base/layout.css';

/*3rd party*/
@import '../3-rd party/font-awesome.min.css';


/*components*/
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/*custom style goes below this comment line */

.hero {
    padding-bottom: 20px;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.logo {
    height: 60px;
    width:100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.main-title {
    font-size: 70px;
    text-transform: uppercase;
}

.main-description{
    font-size: 20px;
}

footer.container {
    padding-top: 0;
}