/* base */
@import '../base/base.css';
@import '../base/layout.css';

/*3rd party*/
@import '../3-rd party/font-awesome.min.css';


/*components*/
@import '../components/button.css';
/*@import '../components/clock-flex.css';*/
@import '../components/clock-grid.css';
@import '../components/form.css';
@import '../components/form-top.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';
@import '../components/progress-bar-new.css';

/*custom style goes below this comment line */


/*HERO SECTION - START*/
.hero {
    padding-bottom: 20px;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    }

.hero > .row-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.logo {
    height: 60px;
    width:100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.main-title {
    font-size: 70px;
    text-transform: uppercase;
}

.main-description{
    font-size: 20px;
}

/*HERO SECTION - END*/

/*MAIN SECTION - start*/

.main-content {
    display: flex;
    justify-content: space-between;
    row-gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.right-column {
    width: 40%;
}

.column-title {
    text-transform: uppercase;
    font-size: 18px;
}
.column-description {
    font-size: 17px;
    color: #777;
}
.column-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}
.column-description > a:hover {
    text-decoration: underline;
}

/*MAIN SECTION - end*/

/*FOOTER SECTION - START*/

footer.container {
    padding-top: 0;
    text-align: center;
    line-height: 1.6em;
}

.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 2px solid #fff;
    position: relative;
}

.socials > a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
}

.socials > a:hover {
    background-color: #fff;
    color: var(--main-color);
}

.socials > .back-to-top {
    position:absolute;
    top: -20px;
    right: -20px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.socials > .back-to-top:hover {
    color: var(--secondary-color);

}

.footer-logo {
    height: 40px;
    width:100%;
    object-fit: contain;
    margin: 40px 0;
}

.credits{
    display: flex;
    gap: 0 30px;
    color: #fff8;
    justify-content: center;
}

.credits > p {
    position: relative;
}

.credits > p::after {
    content: '';
    display:block;
    width: 2px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}

.credits > p:last-child::after {
    display: none;
}

.credits > p > a {
    color: #fff;
}

.bottom-text {
    color: #fff8;
}

.bottom-text > a {
    color: #fff;
}

/*FOOTER SECTION - END*/

@media (max-width: 700px) {
    .main-content {
    flex-direction: column;
    }
   .main-content > * {
    width: 100%;
   }
    .credits > p::after {
   display: none; 
    }
    .credits {
        flex-direction: column; 
         }
}



@media (max-width: 620px) {
    .row-short > .bottom-text,
    .row-short > .main-description {
        width: 300px;
        display: inline-block;
    }
}



@media (max-width: 500px) {
    .main-title {
    font-size: 50px;
   }


.socials > .back-to-top {
    display: none;
}

}